body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, #fefcea, #f1da36);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-card {
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.15);
    text-align: center;
    max-width: 600px;
    width: 90%;
    border: 5px solid #f1c40f;
}

.main-card h1 {
    margin-bottom: 10px;
    color: #d35400;
}

.main-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #f39c12;
    color: white;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}

.result-card,
.prediction-card {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff7d1;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.banana-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #f1c40f;
}
.chart-container {
    margin-top: 40px;
    padding: 25px;
    background-color: #fff9d6;
    border-radius: 20px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.1);
    text-align: center;
}

